* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* =========================
   Header
========================= */
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 10px 15px;
  border-bottom: 1px solid #c7c7c7;
  -webkit-box-shadow: 1px 1px 5px #c7c7c7;
          box-shadow: 1px 1px 5px #c7c7c7;
  background-color: #faf0e6;
}

header img {
  width: 15%;
  height: 15%;
}

header #nav1 .navbar-toggler {
  border: none;
  padding: 0;
}

header #nav1 .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header #nav1 .navbar-toggler-icon {
  background-image: url("assets/bars-solid-full.svg");
}

header #nav1 .search {
  border: 1px solid black;
  border-radius: 10px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

header #nav1 .search:active {
  border: none;
  background-image: url("assets/gold.jpg");
  background-size: cover;
  color: #ffffff;
}

header #nav1 .search_bar:active {
  border: 2px solid #c7c7c7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header #nav1 img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

header #nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #nav2 #cartBtn {
  position: relative;
}

header #nav2 #cartBtn a {
  color: #000000;
}

header #nav2 #cartBtn #cart-count {
  position: absolute;
  top: -12px;
  right: -10px;
  background-color: orangered;
  color: #ffffff;
  border: 1px solid orangered;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: small;
}

/* =========================
   Footer
========================= */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2c2c2c;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 30px 10px;
  color: #ffffff;
}

footer img {
  width: 150px;
  height: 50x;
  margin-bottom: 10px;
}

footer #Footernavbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

footer #Footernavbar ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

footer #Footernavbar ul li {
  padding: 0 2px;
  list-style: none;
}

footer #Footernavbar ul li img {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

footer #Footernavbar ul li a {
  color: #ffffff;
  text-decoration: none;
  vertical-align: top;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f3d009;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a78f0c;
}

/* Responsive for small devices */
@media (max-width: 600px) {
  #heroSection {
    height: 50vh;
  }
  .hero-content h1 {
    font-size: 1.4rem;
  }
  .hero-content h2 {
    font-size: 1rem;
  }
}

main {
  background-color: #faf0e6;
}

main h1 {
  text-align: center;
  padding: 20px 0 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main #dashboardForm {
  margin: 20px;
  padding: 20px 5px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  border: 1px solid #360636;
  border-radius: 15px;
}

main #dashboardForm .chevereto-pup-button {
  border-radius: 15px;
  padding: 10px;
  background-color: #471268;
  margin: 5px 75px;
  width: 60%;
}

main #dashboardForm .custom-file {
  display: inline-block;
  padding: 10px;
  background-color: #360e50;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  margin: 10px auto;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

main #dashboardForm .custom-file input {
  display: none;
}

main #dashboardForm .preview {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #dashboardForm .preview img {
  max-width: 200px;
  max-height: 200px;
  border: 2px solid #6a1b9a;
  border-radius: 6px;
  display: none;
}

main #dashboardForm #submitCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main #dashboardForm #submitCon #submit {
  background-color: #360e50;
  color: white;
  margin: 20px 0 0;
  width: 50%;
  margin: 20px auto;
}

main #dashboardForm #submitCon #submit:active {
  background-color: #771672;
}

main #dashboardForm input[type="file"] {
  display: inline-block;
}

main #dashboardForm select,
main #dashboardForm textarea,
main #dashboardForm input:not([type="file"]) {
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #2c032c;
  padding: 5px;
  text-align: center;
  width: 95%;
}

main #dashboardForm .custom-radio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin: 10px 15px 0;
  font-size: 18px;
}

main #dashboardForm .custom-radio input {
  display: none;
}

main #dashboardForm .radio-btn {
  width: 18px;
  height: 18px;
  border: 2px solid #3a123a;
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
}

main #dashboardForm .custom-radio input:checked + .radio-btn::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #4d2c4d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=dashboard.css.map */